<span class="spinner glyphicon glyphicon-refresh glyphicon-spin" *ngIf="isLoading"></span>
<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <!-- $$
          Remember to prefix the URL segment with a slash
          The value of this routerLink directive is a simple string, so we can omit the square brackets
          -->
          <a routerLink="/welcome">Home</a>
        </li>
        <!-- $$ {exact: true} prevents this routerLinkActive property to match any routes start with '/products' -->
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <!-- $$
          Leading slash is needed in routerLink directive but NOT in the route config:
          In the route config:
            RouterModule.forChild([
              {path: 'products', component: ProductListComponent }
            ])
          -->
          <a routerLink="/products">Product List</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/products', 0, 'edit']">Add Product</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.isLoggedIn()">
          <a>Welcome {{ authService.currentUser.userName }}</a>
        </li>
        <li *ngIf="!messageService.isDisplayed">
          <a (click)="displayMessages()">Show Messages</a>

          <!-- $$ This routerLink activates one secondary route inside a RouterOutlet named "popup" with one URL segment ("messages") -->
          <!--<a [routerLink]="[{outlets: {popup: ['messages']}}]">Show Messages</a>-->

          <!-- $$ This routerLink activates one primary AND one secondary route. Primary outlet has a built-in name: primary -->
          <!--<a [routerLink]="[{outlets: {primary: ['products', 1, 'edit'], popup: ['messages']}}]">Show Messages</a>-->
        </li>
        <li *ngIf="messageService.isDisplayed">
          <a (click)="hideMessages()">Hide Messages</a>
        </li>
        <li *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="['/login']">Log In</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <!-- $$ This outlet has no "name" attribute. It is the primary RouterOutlet -->
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-2">
        <!-- $$ This is a secondary RouterOutlet. It maps to the route config whose value of outlet is "popup" -->
        <router-outlet name="popup"></router-outlet>
      </div>
    </div>
  </div>
</div>
